/.idea/*
!/.idea/misc.xml
!/.idea/codeStyles
!/.idea/modules.iml
!/.idea/modules/*.iml
!/.idea/codeStyleSettings.xml
!/.idea/play2_settings.xml

/node_modules
/logs

# SECRETS
/local.json*
/logging-web.json

app.tar.gz
mocha.json
